::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: transparent;
}


header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 7rem;
  background-color: #310F79;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    background-color: #F4CC50;
    margin: 0 auto;
}

.intro {
  position: relative;
  min-height: 100vh;
  background-color: #F4CC50;
  overflow: hidden;
}

.intro-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: 6rem;
  left: 4rem;
  right: 4rem;
  width: 35rem;
  z-index: 3;
}

.intro-meta p {
  font-family: "Simplon M", monospace;
  font-size: .9rem;
  letter-spacing: 0.08em;
  margin: 0 0 0.5rem 0;
}

.intro-news-heading {
  position: absolute;
  top: 16rem;
  left: 4rem;
  margin: 0;
  font-family: "Rainer", sans-serif;
  font-size: 3rem;
  max-width: 34rem;
  z-index: 3;
}

.intro-p {
  position: absolute;
  top: 21rem;
  left: 4rem;
  margin: 0;
  font-family: "Simplon", monospace;
  font-size: 1rem;
  max-width: 34rem;
  line-height: 1.6;
  z-index: 3;
}

.intro-heading {
  top: 5rem;      
  right: 4rem;     
  font-size: 40rem;
}

.intro-heading {
  position: absolute;
  margin: 0;
  font-family: "Rainer", sans-serif;
  color: #000000;
  line-height: 0.85;
  z-index: 2;
}

.intro-heading2 {
  top: 57rem;      
  right: 4rem;     
  font-size: 1.5rem;
  letter-spacing: -.5px;
}

.intro-heading2 {
  position: absolute;
  margin: 0;
  font-family: "NeueMontreal", sans-serif;
  color: #000000;
  line-height: 0.85;
  z-index: 2;
}

.intro-image-wrap {
  position: absolute;
  top:31%;
  z-index: 3;
  width: 26rem;
}

.intro-image {
  display: block;
  width: 100vh;
  scale: 1.1;
  height: auto;
}

.context {
  background-color:#310F79;
}